.button-wrapper {
    border-radius: 12px;
    border: 1px solid #79C9F9;
    height: 58px;
    width: 310px;
    margin: 12px auto;
    clear: both;
}

button {
    font-family: 'Changa One', cursive;
    color: #FFFFFF;
    box-sizing: border-box;
    height: 56px;
    width: 308px;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    background: linear-gradient(180deg, #00D1F6 0%, #0087E6 100%);
    cursor: pointer;
    font-size: 32px;
    letter-spacing: 1px;
    text-align: center;

    &:hover {
        color: #FED32A;
    }

    &:active {
        background-color: #008AE7;
    }
}