.home-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: url("/assets/Pokename-bg.png") no-repeat top center;
    background-size: cover;

    article.home {
        width: 500px;
        height: 528px;
        text-align: center;
        margin: 50px auto;
        background: #FFFFFF;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.23);

        .logo {
            margin: 32px auto 0;
        }

        .title {
            color: #373F47;
            font-family: "Changa One", cursive;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
        }

        .list {
            width: 310px;
            margin: 36px auto;
            position: relative;


            li {
                text-align: left;
                color: #373F47;
                font-family: Lato, sans-serif;
                font-size: 16px;
                line-height: 20px;
                padding-left: 82px;
                position: relative;
                display: table;
                margin-bottom: 18px;

                div {
                    display: table-cell;
                    min-height: 25px;
                    vertical-align: baseline;

                    &:before {
                        content: url("/assets/Pokeball.svg");
                        height: 25px;
                        width: 24px;
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}